body {
  background-color: #D9D9D9;
  color: #0e0e0e;
  margin: 0;
  padding: 0;
}

main {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.sidebartext {
  width: 35%;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.sidebartext h1 {
  font-size: 48px;
  margin-bottom: 1rem;
  display: inline-block;
  padding-bottom: 0.5rem;
}

.sidebartext p {
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 2rem;
}

.sidebartext ul {
  list-style: none;
  padding: 0;
}

.sidebartext li {
  font-size: 28px;
  margin-bottom: 1.5rem;
  cursor: pointer;
  border-bottom: 1px solid #0e0e0e;
  padding-bottom: 0.5rem;
  transition: color 0.3s;
}

.sidebartext li:hover {
  text-decoration-style: dashed;
}

.sidebartext p,
.galeria {
  align-content: flex-start;
   
}

.galeria {
  width: 65%;
  padding: 3rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.filtros {
  margin-bottom: 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.filtros button {
  background: none;
  border: 1px solid #0e0e0e;
  padding: 0.4rem 0.8rem;
  cursor: pointer;
  font-size: 0.8rem;
  border-radius: 20px;
}

.filtros button:hover,
.filtros button.active {
  background-color: #D9D9D9;
  color:#0e0e0e;

}

.galeria-img {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

.galeria-img img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border: 1px solid #0e0e0e;
}

.row-galer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}



