/* FONTS */
@font-face {
    font-family: 'Kanit_Bold';
    src: url(../fonts/Kanit/Kanit-Bold.ttf);
    font-weight: bold;
}

@font-face {
    font-family: 'Kanit_Regular';
    src: url(../fonts/Kanit/Kanit-Regular.ttf);
    font-weight: normal;
}

@font-face {
    font-family: 'Kanit_Light';
    src: url(../fonts/Kanit/Kanit-Light.ttf);
}

@font-face {
    font-family: 'Kanit_Medium';
    src: url(../fonts/Kanit/Kanit-Medium.ttf);
}

@font-face {
    font-family: 'Kanit_Semibold';
    src: url(../fonts/Kanit/Kanit-SemiBold.ttf);
}

@font-face {
    font-family: 'Cormorant_Garamond_Bold';
    src: url(../fonts/Cormorant_Garamond/CormorantGaramond-Bold.ttf);
    font-weight: bold;
}

@font-face {
    font-family: 'Cormorant_Garamond_Regular';
    src: url(../fonts/Cormorant_Garamond/CormorantGaramond-Regular.ttf);
}

@font-face {
    font-family: 'Cormorant_Garamond_Light';
    src: url(../fonts/Cormorant_Garamond/CormorantGaramond-Light.ttf);
}

/* MENU */

.navbar {
    position: absolute;
    width: 100%;
    z-index: 10;
    background: transparent;
}

ul{
    padding: 0px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li{
    list-style-type: none;
}

.btns_menu{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 50px;
    flex: 1 0 0;
}

.btn_menu{
    color: #0E0E0E;
    font-family: 'Kanit_Regular';
    font-size: 16px;
    text-transform: uppercase;
    text-decoration: none;
    display: flex;
    padding: 10px 0px;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.btn_menu:hover{
    color: #0E0E0E;
    font-family: 'Cormorant_Garamond_Regular';
    font-weight: 600;
    font-size: 16px;
    letter-spacing: -0.6px;
    text-transform: uppercase;
}

.btn_menu:focus{
    color: #0E0E0E;
    font-family: 'Cormorant_Garamond_Regular';
    font-weight: 600;
    font-size: 16px;
    letter-spacing: -0.6px;
    text-transform: uppercase;
}

/* SOBRE O IRI */

body{
    margin: 0;
    padding: 0;
    height: auto;
    width: 100%;
}

.sobreoiri{
    background-color: #C1B655;
    display: flex;
    overflow-x: hidden;
}

.imgs-sobreoiri{
    width: 50%;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
}

.imgs-overlay1{
    background-color: #C1B655;
    mix-blend-mode: exclusion;
}

.txt-sobreoiri{
    background-color: #E4E4DA;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
}

.titulo1 {
    color: #0E0E0E;
    text-align: left;
    font-family: "Cormorant_Garamond_Bold";
    font-size: 48px;
    text-transform: uppercase;
    padding: 0px 60px;
    margin: 10px 0;
}

.txt-1 {
    color: #0E0E0E;
    text-align: left;
    font-family: "Kanit_Light";
    font-size: 20px;
    padding: 0px 60px;
}

/* COMISSÕES */
.comissoes{
    background-color: #C1B655;
    height: 500px;
}

/* FOOTER */