/* FONTS */
@font-face {
    font-family: 'Kanit_Bold';
    src: url(../fonts/Kanit/Kanit-Bold.ttf);
    font-weight: bold;
}

@font-face {
    font-family: 'Kanit_Regular';
    src: url(../fonts/Kanit/Kanit-Regular.ttf);
    font-weight: normal;
}

@font-face {
    font-family: 'Kanit_Light';
    src: url(../fonts/Kanit/Kanit-Light.ttf);
}

@font-face {
    font-family: 'Kanit_Medium';
    src: url(../fonts/Kanit/Kanit-Medium.ttf);
}

@font-face {
    font-family: 'Kanit_Semibold';
    src: url(../fonts/Kanit/Kanit-SemiBold.ttf);
}

@font-face {
    font-family: 'Cormorant_Garamond_Bold';
    src: url(../fonts/Cormorant_Garamond/CormorantGaramond-Bold.ttf);
    font-weight: bold;
}

@font-face {
    font-family: 'Cormorant_Garamond_Regular';
    src: url(../fonts/Cormorant_Garamond/CormorantGaramond-Regular.ttf);
}

@font-face {
    font-family: 'Cormorant_Garamond_Light';
    src: url(../fonts/Cormorant_Garamond/CormorantGaramond-Light.ttf);
}

/* COMMON TEXT */
.titulo1 {
    color: #0E0E0E;
    text-align: left;
    font-family: "Cormorant_Garamond_Bold";
    font-size: 48px;
    text-transform: uppercase;
}

.titulo2 {
    color: #0E0E0E;
    text-align: left;
    font-family: "Cormorant_Garamond_Bold";
    font-size: 38px;
    text-transform: uppercase;
}

.titulo2-w{
    color: #E4E4DA;
    text-align: left;
    font-family: "Cormorant_Garamond_Bold";
    font-size: 38px;
    text-transform: uppercase;
    padding-top: 0px;
    margin-top: 0px;
}

.titulo3{
    color: #0E0E0E;
    text-align: left;
    font-family: "Cormorant_Garamond_Bold";
    font-size: 18px;
    text-transform: uppercase;
}

.titulo4{
    color: #0E0E0E;
    font-family: "Kanit_Semibold";
    font-size: 18px;
    text-transform: uppercase;
}

.titulo5{
    color: #E4E4DA;
    font-family: "Kanit_Semibold";
    font-size: 16px;
    text-transform: uppercase;
}

.txt-1 {
    color: #0E0E0E;
    text-align: left;
    font-family: "Kanit_Light";
    font-size: 20px;
}

.txt-2-r {
    color: #0E0E0E;
    font-family: "Kanit_Light";
    text-align: right;
    text-transform: uppercase;
    font-size: 16px;
}

.txt-2 {
    color: #0E0E0E;
    font-family: "Kanit_Light";
    text-transform: uppercase;
    font-size: 16px;
}

.txt-3 {
    color: #E4E4DA;
    font-family: "Kanit_Light";
    text-transform: uppercase;
    font-size: 14px;
}

/* MENU */

.navbar {
    position: absolute;
    width: 100%;
    z-index: 10;
    background: transparent;
}

ul{
    padding: 0px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li{
    list-style-type: none;
}

.btns_menu{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 50px;
    flex: 1 0 0;
}

.btn_menu{
    color: #0E0E0E;
    font-family: 'Kanit_Regular';
    font-size: 16px;
    text-transform: uppercase;
    text-decoration: none;
    display: flex;
    padding: 10px 0px;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.btn_menu:hover{
    color: #0E0E0E;
    font-family: 'Cormorant_Garamond_Regular';
    font-weight: 600;
    font-size: 16px;
    letter-spacing: -0.6px;
    text-transform: uppercase;
}

.btn_menu:focus{
    color: #0E0E0E;
    font-family: 'Cormorant_Garamond_Regular';
    font-weight: 600;
    font-size: 16px;
    letter-spacing: -0.6px;
    text-transform: uppercase;
}

/* SOBRE O IRI */

body{
    margin: 0;
    padding: 0;
    height: auto;
    width: 100%;
}

.sobreoiri{
    background-color: #C1B655;
    display: flex;
    overflow-x: hidden;
}

.imgs-sobreoiri{
    width: 50%;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
}

.imgs-overlay1{
    background-color: #C1B655;
    mix-blend-mode: exclusion;
}

.txt-sobreoiri{
    background-color: #E4E4DA;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
}

.content-dtls{
    padding: 0 40px 0 60px;
}

/* COMISSOES */
.comissoes{
    background-color: #C1B655;
    height: auto;
    overflow-y: hidden;
    align-self: center;
    padding: 80px 120px;
}

.cms{
    display: flex;
    flex-shrink: 0;
}

.cms-content{
    display: flex;
    flex-direction: column;
    padding-left: 110px;
}

table{
    border-collapse: collapse;
    margin-top: 15px;
    margin-bottom: 50px;
    display: inline-table;
}

td {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding: 15px 0;
    
}

/* EDICOES ANTERIORES */
.edc-ant{
    background-color: #0E0E0E;
    height: auto;
    padding: 80px 120px;
    display: flex;
    justify-content: space-between;
    flex-shrink: 0;
    overflow-y: hidden;
}

.edc-content{
    display: inline-flex;
    justify-content: space-between;
    flex-direction: column;
}

.edc-img{
    background-color: #C1B655;
    height: auto;
    width: 50%;
    flex-shrink: 0;
    display: flex;
    mix-blend-mode: exclusion;   
}

.btns-edc{
    text-decoration: none;
    color: #E4E4DA;
    border-radius: 50px;
    border-style: solid;
    background: transparent;
    display: inline-flex;
    justify-content: center;
    align-items: send;
    width: 230px;
    bottom: 10px;
    padding: 12px 0;
    margin-right: 10px;
    margin-top: 20px;
    transition: 0.6s ease;
}

.btns-edc:hover{
    background-color: rgb(228, 228, 218);
    color: #0E0E0E;
    border-color: #E4E4DA;
}

.btns-edc:active{
    background-color: rgb(228, 228, 218, 0.2);
}

.btn-edc-arquivo{
    background-color: #C1B655;
    border-color: #C1B655;
    border-radius: 50px;
    border-style: solid;
    display: inline-flex;
    justify-content: center;
    align-items: send;
    width: 230px;
    bottom: 10px;
    padding: 12px 0;
    margin-right: 10px;
    margin-top: 20px;
    transition: 0.5s ease;
}

.btn-edc-arquivo:hover{
    color: #0E0E0E;
    background-color: rgb(193, 182, 85, 0.7);
    border-color: rgb(193, 182, 85);
}

.btn-edc-arquivo:active{
    color: #C1B655;
    background-color: transparent;
    border-color: rgb(193, 182, 85);
}

.edc-btns-txt-arquivo{
    text-decoration: none;
    color: #0E0E0E;
    text-align: center;
    font-family: "Kanit_Light";
    text-transform: uppercase;
    font-size: 16px;
}

.edc-btns-txt{
    color: #E4E4DA;
    text-align: right;
    font-family: "Kanit_Light";
    text-transform: uppercase;
    font-size: 16px;
}

/* NOTICIAS */
.noticias{
    background-color: #E4E4DA;
    padding: 80px 120px;
    flex-shrink: 0;
    display: block;
}

.ntc-header{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.btn-ntc-todas{
    text-decoration: none;
    background-color: transparent;
    border-color: #0E0E0E;
    border-radius: 50px;
    border-style: solid;
    display: flex;
    justify-content: center;
    align-items: send;
    width: 230px;
    bottom: 10px;
    padding: 12px 0;
    margin-right: 10px;
    margin-top: 20px;
    transition: 0.5s ease;
}

.btn-ntc-todas:hover{
    color: #E4E4DA;
    background-color: rgb(14, 14, 14);
}

.btn-ntc-todas:active{
    color: #0E0E0E;
    background-color: rgb(14, 14, 14, 0.5);
}

.btn-txt-1{
    text-decoration: none;
    color: #0E0E0E;
    text-align: center;
    font-family: "Kanit_Light";
    text-transform: uppercase;
    font-size: 16px;
    width: auto;
    height: fit-content;
    padding: 12px 70px;
}

.ntc-section{
    display: flex;
    justify-content: space-between;
    flex-shrink: 0;
    margin: 0px;
}

.bdr-ntc{
    border-width: 3px;
    border-style: solid;
    border-color: #0E0E0E;
    border-radius: 0px;
}

.ntc-1{
    background-color: #E4E4DA;    
    display: flex;
    flex-direction: column;
    width: 49.5%;
    height: auto;
    flex-shrink: 0;
}

.ntc-info{
    background-color: #E4E4DA;
    padding: 10px 20px 25px 20px;
    display: flex;
    flex-direction: column;
    margin-top: 18px;
}

.pdt{
    margin: 0;
    padding-bottom: 5px;
}

.ntc-2{
    width: 49%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-shrink: 0;
    gap: 8px;
}

.ntc-centro{
    padding: 30px 20px 25px 20px;
}

/* FOOTER */
.footer{
    background-color: #0E0E0E;
    height: 400px;
    padding: 40px;
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
}

.ftr-info{
    background-color: orange;
    width: 65%;
    display: flex;
    flex-direction: column;
    padding-right: 40px;
}

.ftr-dt{
    color: #E4E4DA;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.ftr-txt{
    text-decoration: none;
    color: #E4E4DA;
}

.ftr-icn{
    display: flex;
    flex-direction: row;
}

.inf-legal{
    display: flex;
    flex-direction: column;
}

.ftr-newsletter{
    background-color: rgb(0, 136, 255);
    width: 35%;
    padding-left: 40px;
}
