body {
  background-color: #E4E4DA;
  margin: 0;
  padding: 0;
}

.banner2 {
  position: relative; /* não use absolute aqui */
  width: 100%;
  height: 650px;
  padding: 0;
  margin: 0;
  display: flex;
}

.banner2 img {
  background-color: #C1B655;
  mix-blend-mode: exclusion;
  width: 100%;
  height: 100%;
  display: flex;
  padding: 0;
  overflow: hidden;
  margin: 0;
}

.titulo-banner {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #0e0e0e;
  font-size: 120px;
  text-align: center;
  z-index: 2;
  font-family: "Cormorant_Garamond_Bold";
}

.call-btn {
  position: absolute;
  bottom: 20px;
  right: 20px;
   z-index: 10;
}

.butto-call {
  display: flex;
  justify-content: space-between; /* Texto à esquerda, ícone à direita */
  align-items: center; /* Alinha verticalmente o ícone com o texto */
  margin-bottom: 0;
  cursor: pointer;
  border-bottom: 1px solid #0e0e0e;
  padding-bottom: 0;
  text-decoration: none;
  font-size: 20px;
  font-family: 'Kanit_light';
}

.icon-buttn {
  width: 16px; /* Tamanho do ícone */
  height: 16px;
  object-fit: contain;
}

.icon-buttn.hover {
  display: none;
}

.butto-call:hover .icon-buttn.default {
  display: none;
}

.butto-call:hover .icon-buttn.hover {
  display: inline;
}
.butto-call img.icon-buttn {
  width: 16px;
  height: 16px;
  object-fit: contain;
}