.butto-call {
  display: inline-flex;
  padding: 12px 24px;
  align-items:flex-end;
  gap: 8px;
  border: 1px solid #E4E4DA;
  color: #E4E4DA;
  text-decoration: none;
  font-size: 16px;
  border-radius: 20px;
  transition: background-color 0.3s, color 0.3s;
  font-family: "Kanit_Light";
  position: relative;
  height: 100%;
}

.icn-buttn {
  width: 16px; /* Tamanho do ícone */
  height: 16px;
  flex-shrink: 0; /* Impede que o ícone diminua de tamanho */
}

.icn-buttn.hover {
  display: none;
}

.butto-call:hover .icn-buttn.default {
  display: none;
}

.butto-call:hover .icn-buttn.hover {
  display: inline;
}