/* FOOTER */
footer{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.footer{
    background-color: #0E0E0E;
    padding: 80px 40px;
    display: flex;
    height: 290px;
    width: 65%;
    align-self: center;
}

.ftr-info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-right: 40px;
}

.ftr-dt{
    color: #E4E4DA;
    display: flex;
    padding: 50px 0;
    flex-direction: row;
    justify-content: space-between;
}

.ftr-txt{
    text-decoration: none;
    color: #E4E4DA;
}

.ftr-icn{
    display: flex;
    flex-direction: row;
}

.icn-dt{
    padding-top: 10px;
    padding-right: 15px;
    width: 20px;
}

p {
    margin: 0;
    padding: 0;
}

.inf-legal{
    display: flex;
    flex-direction: column;
}

.autoria{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #E4E4DA;
}

/* NEWSLETTER */
.ftr-newsletter{
    background-color: #0E0E0E;
    padding: 80px 40px;
    width: 35%;
    height: 290px;
    color: #E4E4DA;
    border-left: 1px solid #E4E4DA;
    align-self: center;
}

.nws-input{
    width: 100%;
    border-bottom: 1px solid #E4E4DA;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    background-color: transparent;
    text-decoration-color: #E4E4DA;
    padding-bottom: 10px;
}

.nws-input::placeholder{
    color: #E4E4DA;
}

.nws-txt{
    padding: 0px 0px 20px 0;
}

.input-dt{
    position: relative;
}

.submit-icn{
    position: absolute;
    right: 0.5rem;
    top: 30%;
    transform: translateY(-50%);
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

.submit-icn:hover{
    cursor: pointer;
}