body {
  background-color: #E4E4DA;
  margin: 0;
  padding: 0;
}

.banner {
  position: relative; /* não use absolute aqui */
  width: 100%;
  height: 650px;
  padding: 0;
  margin: 0;
}

.banner img {
  width: 100%;
  height: 100%;
  display: block;
  padding: 0;
  overflow: hidden;
  margin: 0;
}

.titulo-banner {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #0e0e0e;
  font-size: 120px;
  text-align: center;
  z-index: 2;
  font-family: "Cormorant_Garamond_Bold";
}