.termos-container {
  display: flex;
  justify-content: space-between;
  gap: 20px; /* espaço entre os blocos */
  padding: 0;
  margin: 0; /* centraliza o container */
  flex-wrap: wrap; /* garante que se adapte em telas menores */
  width: 100%;
  text-align: left; 
  /*margin-right: 20px;*/
  margin-top: 0;
  padding-top: 0;
}

.termos-bloc {
  background-color: #D9D9D9;
  flex: 1;
  width: 50%;
  padding: 20px;
  box-sizing: border-box;
  text-align: left;
  margin-top: 0;
  padding-top: 0;
  margin-left: 0;
}

.termos-bloc h2 {
  position: relative;
  display: inline-block;
  font-size: 48px;
  margin-bottom: 15px;
  color: #0e0e0e;
  text-align: left;
  margin-top: 20px;
  margin-bottom: 0;
   font-family: "Cormorant_Garamond_Bold";
}


.termos-bloc p {
  font-size: 20px;
  color: #0e0e0e;
  align-items: flex-start;
  text-align: left;
  line-height: 1.5;
  font-family: "Kanit_Light";
}

.termos1{
  border-top: 1px solid #0e0e0e;
  padding: 15px 0;
} 

.termos-notas {
  text-align: left;
  margin: 0;
  padding: 0;
  background-color: #E4E4DA;
}

.notas1 {
  border-top: 1px solid #0e0e0e;
  padding: 15px 0;
  margin-right: 20px;
}